.profilePage{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    z-index: 10;
    
   
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.profilePageContent{
    padding-top: 60px;
    margin-left: 250px;
   
    
}
.intoAndPostArea{
    padding:15px 10% ;
    display: flex;
    margin-left: 250px;
}
  
.intro{
    flex: 3;
    height: 100vh;
    
  
}
.postPartProfilePage{
    flex: 4;
    padding-left: 5px;
    padding-top: 5px;
    
}
@media(max-width:1200px){
    .profilePageContent{
        margin-left: 0;
    }
    .intoAndPostArea{
        margin-left: 0;
    }

}

@media(max-width:870px){
    .intoAndPostArea{
        flex-direction: column;
        padding: 25px;
    }
}